.form {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & label {
    margin-bottom: 10px;
  }
  & input {
    width: 96%;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 25px;
  }
  & button {
    width: 100%;
  }
}
